.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.dashboard-title {
  font-size: 18px;
  font-weight: bold;
}

.search-input {
  flex: 1;
  max-width: 300px;
  /* width:50%; */
  padding: 10px 10px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: rgb(241, 238, 238);
  border: none;
  font-size: 15px;
  

}

.topbar-info {
  display: flex;
  align-items: center;
}

.notification-icon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
