.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  outline: none;
}

.user-table thead{
  background-color: rgba(128, 128, 128, 0.266);
}

.user-table th, .user-table td {
  padding: 8px;
  text-align: left;
  border-bottom:solid 2px rgba(170, 165, 165, 0.603);
  font-size:small;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.71)
 
}

.approve-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.approve-container {
  display: flex;  
  align-items: center; 
}

.more-options {
  margin-left: 10px;
  font-size: 18px; 
  cursor: pointer;
  color: #333;
}

.more-options:hover {
  color: #007bff; 
}


.pagination-container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.page-number {
  font-size: 16px;
  margin: 0 10px;
}

.dropdowns-container {
  display: flex;
  justify-content:left; 
  gap: 20px; 
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  
}

.dropdown:focus {
  outline: none;
  border-color: #007bff;
}

.user-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid aqua; 
  border-radius: 4px; 
  outline: none;
  appearance: none; 
  cursor: pointer;
}


.user-checkbox:checked {
  background-color:blue;
  border-color: aqua;
}